.App {
    text-align: center;
    background-color: #FFFFFF;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

header {
  /* background-color: pink; */
  height: 10vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid #E3E6E9;
}

footer {
  /* background-color: purple; */
  height: 10vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-top: 1px solid #E3E6E9;
}

.logoTest {
  height: 48px;
  width: 48px;
  border-radius: 10px;
}

.topText {
  padding-left: 10px;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: 800;
  font-style: normal;
}

.row {
  height: 80vh;
  background-color: #F2F2F2;
}

.left {
  /* background-color: red; */
  width: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.middle {
  /* background-color: orange; */
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  padding: 10px;
}

.right {
  /* background-color: green; */
  width: 25%;
  display: flex;
  align-items: center;
  justify-content: center;
}


/* // Colors
$bg-color: hsl(256,33,10);
$dot-color: hsl(256,33,70);

// Dimensions
$dot-size: 1px;
$dot-space: 22px;

body {
	background:
		linear-gradient(90deg, $bg-color ($dot-space - $dot-size), transparent 1%) center,
		linear-gradient($bg-color ($dot-space - $dot-size), transparent 1%) center,
		$dot-color;
	background-size: $dot-space $dot-space;
} */
.canvasElement {
  /* background-image: linear-gradient(white .1em, transparent .1em), linear-gradient(90deg, white .1em, transparent .1em);
  background-size: 2em 2em; */
  background-image: radial-gradient(#e2e2e2 20%, #fff 20%);
  background-position: 0 0;
  background-size: 10px 10px;
}

.toolbar {
  margin: 10px;
  height: 35px;
}