.App {
    text-align: center;
    margin: 0;
}

* {
    box-sizing: border-box;
}

.column {
  float: left;
  padding: 10px;
}

.column.side {
  width: 25%;
}

.column.middle {
    width: 50%;
  }

.row:after {
    content: "";
    display: table;
    clear: both;
}

.buttons {
	margin-top: 2%;
	display: flex;
	justify-content: center;
}

.canvasSize {
	margin-bottom: 2%;
	display: flex;
	justify-content: center;
}