.App {
    text-align: center;
}

* {
  padding: 0;
  margin: 0;
}

header {
  background-color: aqua;
  height: 20vh;
}

footer {
  background-color: purple;
  height: 10vh;
}

.logoTest {
  padding-top: 1vh;
  height: 64px;
  width: 64px;
}

.topText {
  font-family: 'Ubuntu';
}

.row {
  height: 70vh;
}

.left {
  background-color: red;
  width: 25%;
}

.middle {
  background-color: orange;
  width: 50%;
}

.right {
  background-color: green;
  width: 25%;
}

Element {
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  border-radius: 4px;
}