.App {
    text-align: center;
    background-color: #FFFFFF;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

header {
    height: 10vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #E3E6E9;
}

footer {
    height: 10vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-top: 1px solid #E3E6E9;
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
}

.logoTest {
    height: 48px;
    width: 48px;
    border-radius: 10px;
}

.topText {
    padding-left: 10px;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 800;
    font-style: normal;
}

.row {
    min-height: 80vh;
    background-color: #F2F2F2;
}

.left {
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding-top: 60px;
    padding-left: 10px;
}

.middle {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

.right {
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
    padding-top: 60px;
    padding-right: 30px;
}

.toolbar {
    margin: 10px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    width: 500px;
    height: 50px;
    border: 1px solid #E3E6E9;
    border-radius: 8px;
}

.toolbox {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    background-color: white;
    width: 100px;
    height: 500px;
    border: 1px solid #E3E6E9;
    border-radius: 8px;
}

.editbox {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color: white;
    width: 250px;
    height: 500px;
    border: 1px solid #E3E6E9;
    border-radius: 8px;
    overflow-y: scroll;
}

.editHeader {
    width: 100%;
    display: flex;
    justify-content: center;
    border-bottom: 1px solid #E3E6E9;
    padding-bottom: 5px;
}

h4,
h5 {
    font-weight: normal;
}

#custom-file-input {
    padding-top: 20px;
    padding-left: 10px;
}

#custom-file-input::-webkit-file-upload-button {
    border-radius: 5px;
    border: 1px solid rgba(80, 80, 80, 0.5);
    height: 25px;
}

.react-resizable {
    position: relative;
}

.react-resizable-handle {
    position: absolute;
    width: 10px;
    height: 10px;
    bottom: 0;
    right: 0;
    background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBzdGFuZGFsb25lPSJubyI/Pg08IS0tIEdlbmVyYXRvcjogQWRvYmUgRmlyZXdvcmtzIENTNiwgRXhwb3J0IFNWRyBFeHRlbnNpb24gYnkgQWFyb24gQmVhbGwgKGh0dHA6Ly9maXJld29ya3MuYWJlYWxsLmNvbSkgLiBWZXJzaW9uOiAwLjYuMSAgLS0+DTwhRE9DVFlQRSBzdmcgUFVCTElDICItLy9XM0MvL0RURCBTVkcgMS4xLy9FTiIgImh0dHA6Ly93d3cudzMub3JnL0dyYXBoaWNzL1NWRy8xLjEvRFREL3N2ZzExLmR0ZCI+DTxzdmcgaWQ9IlVudGl0bGVkLVBhZ2UlMjAxIiB2aWV3Qm94PSIwIDAgNiA2IiBzdHlsZT0iYmFja2dyb3VuZC1jb2xvcjojZmZmZmZmMDAiIHZlcnNpb249IjEuMSINCXhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHhtbDpzcGFjZT0icHJlc2VydmUiDQl4PSIwcHgiIHk9IjBweCIgd2lkdGg9IjZweCIgaGVpZ2h0PSI2cHgiDT4NCTxnIG9wYWNpdHk9IjAuMzAyIj4NCQk8cGF0aCBkPSJNIDYgNiBMIDAgNiBMIDAgNC4yIEwgNCA0LjIgTCA0LjIgNC4yIEwgNC4yIDAgTCA2IDAgTCA2IDYgTCA2IDYgWiIgZmlsbD0iIzAwMDAwMCIvPg0JPC9nPg08L3N2Zz4=');
    background-position: bottom right;
    padding: 0px 3px 3px 0;
    background-repeat: no-repeat;
    background-origin: content-box;
    box-sizing: border-box;
    cursor: se-resize;
}